@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FFFFFF;
  --color-txt-primary: #121417;
  --color-txt-secondary: #637587;
  --color-primary: #F0F2F5;
}

:root[class~="dark"] {
  --color-background: #171217;
  --color-txt-primary: #FFFFFF;
  --color-txt-secondary: #B59EB8;
  --color-primary: #362938;
}

h2 {
  @apply text-2xl font-bold;
}